<div class="card border-primary mb-3">
  <div class="card-body text-primary">
    <h5 class="card-title">Lista de clientes</h5>
    <div class="my-3">
      <div class="card-header mb-2">Clientes</div>
      <button
        class="btn btn-rounded btn-primary"
        [routerLink]="['/clients/create']"
        routerLinkActive="router-link-active"
      >
        Crear cliente
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>email</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.lastName }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.createdAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
